:root {
  --background-color: #202020;
  --border-color: rgb(0, 0, 0);
  --main-text-color: rgb(107, 39, 39);
}

h1, h2, h3, a, p, span, label {
  font-family: "Ubuntu-mono", sans-serif;
  font-weight: 1000;
  color: var(--main-text-color);
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow: hidden;
}

.audio-icon {
  color: var(--main-text-color);
}

* {
  box-sizing: border-box;
}

navigation {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

navigation > .navigation-section {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#navigation-logo-section,
#navigation-author-section {
  flex-basis: calc(100% / 2);
}

#navigation-logo-section {
  justify-content: flex-start;
}

#navigation-author-section {
  justify-content: flex-end;
}

main {
  flex-grow: 1;
}

main > player {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

main > player > .player-section {
  height: 100%;
}

main > player > .player-sources-section {
  border-bottom: 1px solid var(--border-color);
}

main > player > .player-search-section {
  border-left: 1px solid var(--border-color);
  grid-row: auto / span 2;
}

main > player > .player-title-section {
  display: grid;
  text-align: center;
}

.title-text {
  font-size: 80px;
}